.popup__container{
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 195px auto 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 767px) {
	.popup__container {
		max-width: 282px;
		margin: 123px auto 0;
	}
  }