.profile__info {
	max-width: 336px;
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 16px;
	margin-left: 30px;
}

@media screen and (max-width: 1200px) {
	.profile__info {
		column-gap: 10px;
		row-gap: 14px;
		margin: 26px auto 0;
		justify-content: center;
	}
  }

  @media screen and (max-width: 320px) {
	.profile__info {
		justify-content: space-between;
	}
  }