.header {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin: 0 auto 0;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    gap: 31.6px;
    padding-top: 28px;
  }
}
